<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/output.css') }}"
    />
  
    <title>Login Form</title>
  </head>
  <body
    class="flex justify-center items-center h-screen px-5"
    style="background-image: url('static/bg.jpg')"
  >
    <div
      class="bg-white p-8 w-96 rounded-xl shadow-2xl shadow-amber-300 text-center"
    >
      <h2 class="text-3xl font-semibold">Account Login</h2>
      <br />
      <form action="/" method="POST">
        <input
          class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
          type="text"
          id="email"
          name="email"
          placeholder="Email"
          required
        /><br /><br />
        <input
          class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        /><br /><br />
        <a href="{{ url_for('dashboard') }}"
          ><input
            type="submit"
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            value="SIGN IN"
        /></a>

        {% with messages = get_flashed_messages(with_categories=True) %} {% if
        messages %}
        <div class="my-4">
          {% for category, message in messages %}
          <div class="bg-red-100 text-red-700" style="color: red" role="alert">
            <span class="sm:inline">{{ message }}</span>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endwith %}
      </form>
      <br />
      <div>
        Forget
        <a href="{{ url_for('password_reset') }}" class="text-blue-600"
          >Password?</a
        >
      </div>
      <div>
        Create an account?
        <a href="{{ url_for('register') }}" class="text-blue-600">Sign up</a>
      </div>
    </div>
  </body>
</html>