<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Form</title>
    <link href="{{url_for('static',filename='/output.css')}}" rel="stylesheet" />
  </head>
  <body
    class="flex justify-center items-center h-screen px-5"
    style="background-image: url('static/bg.jpg');"
  >
    <div
      class="bg-white p-8 w-96 rounded-xl shadow-2xl shadow-amber-300 text-center"
    >
      <h2>Password Reset Complete</h2>
      <h2>Your password has been set.</h2>
      <h2>You may go ahead and<a href="{{ url_for('login') }}" class="text-blue-500 font-semibold"> Login</a></h2>
    </div>
  </body>
</html>
